global:
  interval: 60

guardicore:
  management_url: "cus-NNNN.cloud.guardicore.com"
  username: ""
  password: ""
  lookback: 24

rules:
  Passive Detection:
    enabled: true
    tags:
      - Blacklisted IP Address # The tags that an incident should have when polling Centra incidents
    resolution_tags:
      - Auto-Acknowledged # The tags to assign to the incident at resolution time
    minimum_hits: 2
    intel_source: 
      lists:
      virustotal:
      sentinelone:
      greynoise:
      elasticsearch:
    actions:
      #block:
      #  rule_set: "Automatic Blacklisted IP Blocking"
      #  direction: BOTH
      resolve:
      tag:
      #paloedl:
      #  list_name: "custom"
      #  expiration: 72 # How many hours you want to keep the IP on the EDL
      #  comments: true # Add comments to the EDL to show why the IP was added

caching:
  enabled: true
  backend: sqlite
  expiration: 43200 # 12 hours
  
feeds:
  alienvault:
    name: Alienvault
    url: http://reputation.alienvault.com/reputation.data
    format: ip
    geodata: true
    disabled: false
    type: list
  emergingthreats:
    name: Emerging Threats
    url: http://rules.emergingthreats.net/blockrules/compromised-ips.txt
    format: ip
    disabled: false
    type: list
  spamhouse-drop:
    name: SpamHaus Drop
    url: https://www.spamhaus.org/drop/drop.txt
    format: cidr
    disabled: false
    type: list
  spamhouse-edrop:
    name: SpamHaus eDrop
    url: https://www.spamhaus.org/drop/edrop.txt
    format: cidr
    disabled: false
    type: list
  dshield:
    name: Dshield
    url: http://www.dshield.org/ipsascii.html?limit=10000
    format: ip
    disabled: false
    type: list
  blocklistde:
    name: BlocklistDe
    url: http://www.blocklist.de/lists/bruteforcelogin.txt
    format: ip
    disabled: false
    type: list

engines:
  virustotal:
    enabled: false
    api_key: ""
  greynoise:
    enabled: false
    api_key: ""
  sentinelone:
    enabled: false
    api_key: ""
    management_url: ""
  memcached:
    enabled: false
    url: ""
    username: ""
    password: ""
    use_tls: false
  opencti:
    enabled: false
  thehive:
    enabled: false
    url: ""
    api_key: ""
  misp:
    enabled: false
  paloedl:
    backend: sqlite
    db_name: paloedl